body {
	font-family: Arial, sans-serif;
	background-color: #222222;
	color: #f4f4f4;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: max(10px, min(2vh, 4vw));
	margin-top: max(10px, 25vh - 25vw);
}
.page-center {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: auto;
}
.column {
	display: flex;
	flex-direction: column;
	margin: auto;
}
h1 {
	color: #f4f4f4;
	text-align: center;
	margin-bottom: 10px;
}
#sana-container {
	gap: 10px;
	margin-bottom: 5px;
	height: 15px;
	width: 100%;
}
.viesti {
	display: flex;
	justify-content: center;
	align:center;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
#virhe {
	color: red;
}
.sana_list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 2px;
	column-gap: 4px;
	margin-bottom: 10px;
	margin: auto;
	height: 70px;
	max-width: max(200px, min(69vw, 80vw));
}
.loydetty_sana {
	padding: min(1vw, 1vh) min(1vw, 1vh);
	height: max(12px, 2.5vh);
	border-radius: min(2vw, 2vh) min(2vw, 2vh);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4c4c4c;
	border: 0.2vh solid #555555;
}
.loydetty_sana.next {
	background-color: #4c4cec;
	border-color: #5555f5;
}
.loydetty_sana.used {
	background-color: #333;
	border-color: #262626;
}
.board {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-bottom: 20px;
}
#board-container {
	position: relative;
}
#malli {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-bottom: 20px;
	margin-top: 50px;
}
#malli-container {
	position: relative;
}
.cell-wrapper {
	width: max(40px, min(8vh, 15vw));
	height: max(40px, min(8vh, 15vw));
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.cell-wrapper.non-interactive {
	cursor: default;
}
.cell {
	width: 80%;
	height: 80%;
	font-size: max(20px, min(3vh, 7vw));
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333333;
	border: 2px solid #262626;
	border-radius: 50%;
	transition: background-color 0.3s;
	transition: border-color 0.3s;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.cell.selected {
	background-color: #55f;
	border-color: #44e;
	color: #e0e0fc;
}
.cell.used {
	background-color: #5c5c5c;
	border-color: #555555;
	color: #bbb;
}
.cell.intended {
	background-color: #5c5c5c;
	border-color: #555555;
	color: #bbb;
	width: 50%;
	height: 50%;
}
.cell.intended-first, .cell.intended.selected {
	background-color: #55f;
	border-color: #44e;
	color: #bbb;
	width: 50%;
	height: 50%;
}
.cell.vihje {
	border-color: #eee !important;
}
@keyframes bgFade {
  from { background-color: transparent; }
  to   { background-color: #44e; }
}
@keyframes bgUsed {
  from { background-color: #44e; }
  to   { background-color: #555555; }
}
.line {
	position: absolute;
	height: 2vh;
}
.line.selected {
	background-color: #5c5cb8;
	animation: bgFade 0.2s ease forwards;
	margin-top: 0px;
}
.line.used {
	background-color: #555555;
	animation: bgUsed 0.2s ease forwards;
}
.line.intended-first {
	background-color: #44e
}
.line.intended {
	background-color: #555555;
}
.button {
	padding: min(1vw, 1vh) min(1vw, 1vh);
	background-color: #4b4b4b;
	color: white;
	border: none;
	border-radius: min(2vw, 2vh) min(2vw, 2vh);
	cursor: pointer;
	transition: background-color 0.3s;
	align-items: center;
	justify-content: center;
	display: flex;
	margin:0;
  font-size: max(15px, min(2.2vh, 4vw));
  height: 100%;
}
.button.vihje {
	border-radius: 50%;
  width: max(15px, 3vh);
  height: max(15px, 3vh);
}
.button.yhdista {
	background-color: #007bff;
}
.button:hover {
	background-color: #363636;
}
.button.yhdista:hover {
	background-color: #0056b3;
}
.button-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: max(15px, 3vh);
  height: max(15px, 3vh);
}
.disabled {
	pointer-events: none;
}
.disabled-button {
	background-color: #333 !important;
	color: #999 !important;
}
.hide {
	display: none !important;
}
